        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            list-style: none;
        }
        
        header {
            height: 80px;
            background-color: orangered;
            width: 100%;
            z-index: 4;
            position: fixed;
        }
        
        .btn-mobile {
            width: 50px;
            height: 50px;
            font-size: 30px;
            line-height: 50px;
            margin-top: 10px;
            position: absolute;
            left: 30px;
            background-color: black;
            color: orangered;
            cursor: pointer;
            display: none;
        }
        
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            line-height: 75px;
            padding-left: 105px;
        }
        
        .container-menu {
            display: flex;
        }
        
        .box-menu {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-right: 80px;
        }
        
        .box-lista {
            line-height: 75px;
            justify-content: space-evenly;
            font-size: 20px;
            display: flex;
            width: 40%;
            color: blue;
            font-family: 'Montserrat', sans-serif;
            position: absolute;
        }
        
        .box-lista :hover {
            cursor: pointer;
            color: black;
            transition: all 0, 5s;
            transform: scale(1, 1);
        }
        
        .box-laranja {
            position: relative;
            width: 100%;
            background-image: url(./assets/laranja\ azul\ recorte.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 600px;
        }
        
        h1 {
            position: absolute;
            padding-top: 235px;
            font-size: 70px;
            color: #FFFFFF;
            padding-left: 105px;
            font-family: 'Montserrat', sans-serif;
        }
        
        p {
            position: absolute;
            font-size: 25px;
            color: #FFFFFF;
            padding-top: 380px;
            padding-left: 105px;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            opacity: 100%;
        }
        
        .box-bloco_1 {
            grid-template-columns: 100px 100px 100px 100px;
            margin: 5px;
            padding-left: 85px;
        }
        
        .box-bloco_2 {
            grid-template-columns: 100px 100px 100px 100px;
            margin: 5px;
            padding-left: 85px;
        }
        
        .box-bloco_3 {
            grid-template-columns: 100px 100px 100px 100px;
            margin: 5px;
            padding-left: 85px;
        }
        
        .img-1 {
            width: 320px;
            height: 320px;
            margin: 5px;
        }
        
        footer {
            height: 80px;
            background-color: rgb( 210, 210, 226);
            display: flex;
        }
        
        .box-canais {
            width: 50%;
            height: 25px;
            display: flex;
        }
        
        .img-canais {}
        
        .img-canais :hover {
            cursor: pointer;
            transition: all 0, 5s;
            transform: scale(1, 1);
        }
        
        .container-footer {
            display: flex;
        }
        
        h4 {
            display: flex;
            font-size: 20px;
        }
        
        span {
            display: flex;
            font-size: 12px;
        }
        
        .btn-Topo {
            background-color: black;
            color: gray;
            width: 90px;
            height: 50px;
            text-transform: uppercase;
            font-size: 14px;
            left: 900px;
            position: absolute;
            cursor: pointer;
            display: none;
        }
        
        @media (max-width: 667px) {
            h2 {
                justify-content: center;
            }
            .box-lista {
                display: none;
            }
            header {
                position: absolute;
                width: 100%;
            }
            .box-laranja {
                width: 100%;
                margin-bottom: 50px;
                height: 800px;
            }
            h1,
            p {
                right: 20px;
            }
            .img-1 {
                width: 100%;
                padding: 20px;
                height: 80%;
            }
            footer {
                background-color: #7FDBD4;
                flex-direction: column;
                margin-top: 50px;
                width: 100%;
            }
            .box-canais {
                width: 100%;
            }
            .img-canais {
                width: 40px;
                padding: 2px;
            }
            .container-footer {
                position: relative;
            }
            h4,
            span {
                margin-top: 50px;
            }
            h4 {
                position: absolute;
            }
            span {
                position: absolute;
                left: 40px;
            }
        }